body{
    margin: 0;
}
@font-face{
    font-family: 'nanum-godic';
    src: url('fonts/NanumBarunGothicLight.ttf');
}
@font-face{
    font-family: 'nanum-pen';
    src: url('fonts/NanumBarunpenB.ttf');
}
@font-face{
    font-family: 'nanum-square';
    src: url('fonts/NanumSquareLight.ttf');
}

@font-face{
    font-family: 'YoonSJY';
    src: url('fonts/YoonSJY.ttf');
}
@font-face{
    font-family: 'YoonSHO';
    src: url('fonts/YoonSHO.ttf');
}
@font-face{
    font-family: 'LeeHyunJin';
    src: url('fonts/LeeHyunji.ttf');
}
#main{
    background-color: #ffc93b;
}

#main h1,h3{
    text-align: center;
    color: #fff;
    margin: 0;
}
#main h3{
    padding-top: 18%;
    font-size: 2rem;
}

#main h1{
    font-size: 9rem;
    font-weight: lighter;
    /*margin-top: 2%;*/
}

button{
    display: block;
    margin: auto;
    margin-top: 9%;
    height: 4rem;
    width: 8rem;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #fff;
    border-radius: 10%;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    font-weight: bolder;
}

button:hover{
    color: #ffc93b;
    background-color: #fff;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
}

nav ul{
    float: right;
    padding: 0;
    list-style: none;
    font-size: 0;
    color: #fff;
    font-family: nanum-square;
}

nav li{
    display: inline-block;
    font-size: 1rem;
    padding: 1rem;
    color: #000;
    transition: font-size 0.5s;
}

nav li:hover{
    cursor: pointer;
    font-size: 1.5rem;
}

.views{
    height: 100vh;
    width: 100vw;
}

#intro{
    background-color: #fff;
}
#intro h2{
    font-family: "LeeHyunJin";
    color: #000;
    font-size: 3rem;
    text-align: center;
    padding-top: 10%;
    font-weight: bolder;
    margin: 0;
}

#member{
    background-color: #ffc93b;
}

#member ul{
    
    padding: 0;
    margin: auto;
    width: 80vw;
    padding-top: 10%;
    font-size: 0;
}

#member li{
    display: inline-block;
    width: 11vw;
    height: 11vw;
    font-size: 1rem;
    margin: calc(14vw/12);
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
}

#member li:hover{
    background-color: #ffc93b;
    column-rule: #fff;
}
 #member li:hover::before{
    position: relative;
    content: "강석진";
    bottom: 25%;
    /*font-family: "nanum-pen";*/
    font-family: "YoonSHO";
    font-weight: border;
    font-size: 1.5rem;
 }

::-webkit-scrollbar{
    overflow-y: hidden;
}

body{
    overflow-x: hidden;
}